<div id="modal-content-wrapper">
  <form #editForm="ngForm" (ngSubmit)="onUpdateCustomer(editForm)">
    <div class="form-row">
      <div class="data-field">
        <label for="">Nom :</label>
        <input
          name="lastname"
          ngModel
          class="input-data"
          type="text"
          required
          placeholder="Nom"
        />
      </div>
      <div class="data-field">
        <label for="">Prenom :</label>
        <input
          name="firstname"
          ngModel
          class="input-data"
          type="text"
          required
          placeholder="Prénom"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="data-field">
        <label for="">Mail :</label>
        <input
          name="mail"
          ngModel
          class="input-data"
          type="text"
          required
          placeholder="exemple@onyx.com"
        />
      </div>
      <div class="data-field">
        <label for="">Date de naissance :</label>
        <input
          name="birthdate"
          ngModel
          class="input-data"
          type="date"
          required
        />
      </div>
    </div>
    <div class="form-row-inline">
      <div class="data-field">
        <label for="">Numéro de téléphone :</label>
        <input
          name="phoneNumber"
          ngModel
          class="input-data"
          type="text"
          required
          placeholder="06 07 08 09 10"
        />
      </div>
    </div>
    <div class="form-btn">
      <input
        class="input-btn"
        [disabled]="editForm.invalid"
        id="add-customer-btn"
        type="submit"
        value="Sauvegarder"
      />
    </div>
  </form>

  <!-- <footer id="modal-footer">
    <button
      mat-raised-button
      id="modal-action-button"
      (click)="actionFunction()"
    >
      Logout
    </button>
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
      Go back
    </button>
  </footer> -->
</div>
