<div class="container">
  <div class="top-bar"></div>
  <div class="dashboard-raw">
    <div class="daily-appointment">
      <h2 class="card-title">Nombre de rdv de la journée :</h2>
      <div class="daily-data">
        <div class="numbers">
          <mat-icon class="arrow-icon">arrow_upward</mat-icon>
          <h1>7</h1>
        </div>
        <h2>De 10h à 16h</h2>
      </div>
    </div>
    <div class="daily-appointment">
      <h2 class="card-title">Nombre de rdv de la demain :</h2>
      <div class="daily-data">
        <div class="numbers">
          <mat-icon class="arrow-icon">arrow_upward</mat-icon>
          <h1>9</h1>
        </div>
        <h2>De 9h à 17h</h2>
      </div>
    </div>
  </div>
</div>
