<form>
  <!-- #addForm="ngForm" (ngSubmit)="onAddCustomer(addForm)" -->
  <h2>Nouveau rendez-vous</h2>
  <div class="form-row">
    <div class="data-field">
      <label for="">Nom de la cliente :</label>
      <input
        name="lastname"
        ngModel
        class="input-data"
        type="text"
        required
        placeholder="Nom"
      />
    </div>
    <div class="data-field">
      <label for="">Type de rdv :</label>
      <select name="rdv_type" id="type_select" ngModel class="input-data">
        <option value="Semi permanent mains">Semi permanent mains</option>
        <option value="Dépose + Pose semi">Dépose + Pose semi</option>
        <option value="Dépose + Manucure">Dépose + Manucure</option>
        <option value="Gainage + Semi">Gainage + Semi</option>
        <option value="Remplissage Gainage">Remplissage Gainage</option>
        <option value="Manucure">Manucure</option>
      </select>
    </div>
    <div class="data-field">
      <label for="">Temps de prestation :</label>
      <input
        name="phoneNumber"
        ngModel
        class="input-data"
        type="text"
        required
        placeholder="06 07 08 09 10"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="data-field">
      <label for="">Date du rendez-vous :</label>
      <input
        name="mail"
        ngModel
        class="input-data"
        type="text"
        required
        placeholder="exemple@onyx.com"
      />
    </div>
  </div>
  <div class="form-btn">
    <!-- [disabled]="addForm.invalid" -->
    <input
      class="input-btn"
      id="add-customer-btn"
      type="submit"
      value="Ajouter le client"
    /><input
      id="add-appointment-btn"
      class="input-btn"
      type="submit"
      value="Ajouter le client et un rdv"
    />
  </div>
</form>
