<form #addForm="ngForm" (ngSubmit)="onAddAppointment(addForm)">
  <h2>Nouveau rendez-vous</h2>
  <div class="form-row">
    <div class="data-field">
      <label for="customer-name">Nom de la cliente :</label>
      <select
        name="customer-name"
        id=""
        [(ngModel)]="selectedCustomerId"
        class="input-data"
      >
        <option
          *ngFor="let customer of customers$ | async"
          [value]="customer.id"
        >
          {{ customer.lastname }} {{ customer.firstname }}
        </option>
      </select>
    </div>
    <div class="data-field">
      <label for="start-date">Date de debut</label>
      <input
        class="input-data"
        type="datetime-local"
        name="start-date"
        id="start-date"
        [(ngModel)]="selectedStartDate"
      />
    </div>
    <div class="data-field">
      <label for="end-date">Date de fin</label>
      <input
        class="input-data"
        type="datetime-local"
        name="end-date"
        id="end-date"
        [(ngModel)]="selectedEndDate"
      />
    </div>
  </div>
  <input
    class="input-btn"
    id="add-appointment-btn"
    type="submit"
    value="Ajouter le rendez-vous"
  />
</form>
