/* You can add global styles to this file, and also import other style files */
* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container#modal-component {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}
