@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

:root {
  /* used in sidebar */
  --main-bg-color: #fef4f9;
  --list-global-color: #ffe3f1;
  --list-select-color: #ffc7e3;
  /* used in */
  --main-btn-color: #fc62aa;
  --light-card-color: #fde4f1;
  --strong-list-card-color: #ffb7d9;
  --input-data-bg-color: white;
  --input-data-border-color: #e4e4e4;
}

* {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container#modal-component {
  position: fixed;
  left: 30%;
  top: 20%;
  width: 40rem;
  height: 14rem;
  z-index: 2;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
