* {
  margin: 0%;
  padding: 0%;
  font-family: "Mirza", serif;
}
.search-list {
  background-color: var(--strong-list-card-color);
  margin: 0.7rem;
  margin-left: 17%;
  padding: 0.5rem;
  max-height: 30rem;
  border-radius: 10px;
  overflow-y: auto;
}

.searched-customer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: var(--light-card-color);
}
#edit-btn {
  background-color: transparent;
  box-shadow: none;
}

.searched-customer div {
  width: 6rem;
}

h2 {
  font-weight: 500;
  padding-left: 2rem;
  padding-top: 1rem;
}

.input-data {
  background-color: var(--input-data-bg-color);
  border: 1px solid var(--input-data-border-color);
  border-radius: 15px;
  display: inline-flex;
  padding: 0.2rem;
  font-size: 1rem;
}

.form-row {
  margin-left: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}
