* {
  margin: 0%;
  padding: 0%;
  font-family: "Mirza", serif;
}
.search-list {
  background-color: var(--strong-list-card-color);
  margin: 0.7rem;
  margin-left: 17%;
  padding: 1rem;
  max-height: 100%;
  border-radius: 8px;
}
.searched-customer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: var(--light-card-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.list-container {
  height: 20rem;
  overflow-y: auto;
}

h2 {
  font-weight: 500;
  padding-left: 2rem;
  padding-top: 1rem;
}

.input-data {
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  display: inline-flex;
  padding: 0.2rem;
  font-size: 1rem;
}

.form-row {
  margin-left: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}
.separation {
  margin-left: 1.5rem;
  margin-top: 0.3rem;
  border-bottom: 1px solid #e4e4e4;
  width: 95%;
}
.searched-customer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: #fde4f1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
