#calendar-container {
  margin-left: 16.5%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}
#calendar-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.calendar-btn {
  padding: 0.1rem;
  border-radius: 5px;
  border: 1px solid #fc62aa;
  margin-left: 0.5rem;
  background-color: transparent;
}
.calendar-btn:hover {
  background-color: #ffe3f1;
}
#previous,
#next {
  color: gray;
  font-size: larger;
  border: none;
  margin-left: 0.5rem;
  background-color: transparent;
}
#previous:hover,
#next:hover {
  color: #fc62aa;
  font-size: larger;
}

.calendar-view {
  margin-left: 16rem;
}
